/*CSS reset*/
* {
  margin: 0;
  padding: 0;
  /*under words*/
  text-decoration: none;
  /*dots by listing*/
  list-style: none;
  box-sizing: border-box;
  font-family: "Lobster", sans-serif;
  scroll-behavior: smooth;
  background-image: url("mic2.jpg");
}

body {
  height: 60vh;
  background-color: white;
}

.logo {
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
  font-size: 20px;
  width: 135px;
  height: auto;
  flex-direction: left;
  text-transform: uppercase;
  color: aliceblue;
}

/* Navigation bar*/
nav {
  height: 70px;
  width: 100%;
  background: black;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 70px;
  margin: 0 60px;
}

nav ul li a {
  color: white;
  font-size: 17px;
  background-color: transparent;
}

nav ul li a:hover {
  color: white;
  background: orange;
  transition: all 1s;
  padding: 10px 20px;
  border-radius: 0.5rem;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
  /* with this you can cover your image full stretch */
  opacity: 1;
  padding: 0;
}
