/*CSS reset*/
* {
  margin: 0;
  padding: 0;
  /*under words*/
  text-decoration: none;
  /*dots by listing*/
  list-style: none;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
  scroll-behavior: smooth;
  background-image: url("mic2.jpg");
}

body {
  height: 60vh;
  background-color: white;
}

.logo {
  color: orange;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
  font-size: 20px;
  width: 135px;
  height: auto;
  flex-direction: left;
  text-transform: uppercase;
}

/* Navigation bar*/
nav {
  height: 70px;
  width: 100%;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 70px;
  margin: 0 60px;
}

nav ul li a {
  color: white;
  font-size: 17px;
  background-color: transparent;
  background: blue;
}

nav ul li a:hover {
  color: white;
  background: purple;
  transition: all 1s;
  padding: 10px 20px;
  border-radius: 0.5rem;
}

img {
  width: 100%;
  height: 300px;
  /* with this you can cover your image full stretch */
  object-fit: cover;
  opacity: 0, 5;
}

.img {
  width: 100%;
  height: 300px;
  /* with this you can cover your image full stretch */
  object-fit: cover;
  opacity: 1;
}

.images2 {
  width: 30%;
  height: 150px;
  object-fit: cover;
  /* with this you can cover your image full stretch */
  opacity: 1;
  padding: 50px;
}

/* Words Frontpage*/
.section1 h2 {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 50px;
}

/* button listen*/
.btn {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 0.5rem;
  font-size: 17px;
  font-weight: 500;
  transition: al 0.4s ease;
  background: purple;
  color: white;
}

.btn1 {
  padding: 10px 20px;
  border-radius: 0.5rem;
  font-size: 18px;
  color: white;
}

/*Introduction*/

/*Titel*/
.box2title {
  padding: 30px;
  margin: 0;
  /* scale the pic smaller when going down*/
  width: 60%;
  text-align: center;
  font-style: bold;
  font-size: 20px;
  text-transform: uppercase;
}

/*content*/
.box2content {
  padding: 40px;
  margin: 30px;
  /* scale the pic smaller when going down*/
  width: 50%;
  font-size: 17px;
}

.box3content {
  padding: 20px;
  margin: 30px;
  /* scale the pic smaller when going down*/
  width: 50%;
  font-size: 17px;
}

.box4content {
  padding: 40px;
  margin: 20px;
  /* scale the pic smaller when going down*/
  width: 100%;
  font-size: 17px;
  border: 5px solid red;
}

.box3title {
  padding: 20px;
  /* scale the pic smaller when going down*/
  width: 70%;
  text-align: center;
  font-style: bold;
  font-size: 20px;
  text-transform: uppercase;
}

.box2content a {
  margin: 20px;
}

.box3content a {
  margin: 20px;
}

/*video*/
.boxvideo1 {
  width: 500px;
  height: 300px;
  padding: 20px;
  float: left;
  margin: 0;
}

.boxvideo2 {
  width: 500px;
  height: 300px;
  padding: 20px;
  margin: 0;
  float: left;
}

.boxvideo3 {
  padding: 30px;
  float: right;
  margin: 0;
}

.boxvideo11 {
  width: 40%;
  height: 200px;
  padding: 10px;
  margin: 80px;
}

.boxvideo12 {
  width: 40%;
  height: 200px;
  padding: 10px;
  margin: 80px;
  float: right;
}

.boxvideo13 {
  width: 40%;
  height: 200px;
  padding: 10px;
  margin: 80px;
}

.box1onzichtbaar {
  padding: 5px;
  margin: 1px;
  /* scale the pic smaller when going down*/
  width: 100%;
}

.boxrecorder1 {
  padding: 50;
  margin: 50px;
}

.boxrecorder2 {
  margin: 20px;
}

/*Footer*/
.footer {
  text-align: center;
  background-color: pink;
  font-size: 10px;
}
