/*CSS reset*/
* {
  margin: 0;
  padding: 0;
  /*under words*/
  text-decoration: none;
  /*dots by listing*/
  list-style: none;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
  scroll-behavior: smooth;
}

body {
  height: 60vh;
}

.logo {
  color: whitesmoke;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
  font-size: 25px;
  width: 135px;
  height: auto;
  flex-direction: left;
  text-transform: uppercase;
}

/* NAVIGATIE bar*/
nav {
  background: white;
  height: 70px;
  width: 100%;
  /*captial letter*/
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 70px;
  margin: 0 60px;
}

nav ul li a {
  color: black;
  font-size: 17px;
}

nav ul li a:hover {
  color: white;
  transition: all 0.5s;
  background-color: purple;
  padding: 0 50px;
}

img {
  width: 100%;
  height: 500px;
  /* with this you can cover your image full stretch */
  object-fit: cover;
}

.section1 h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  align-items: center;
  font-size: 50px;
}

/*textbox 1  "Home page"*/
.text-box1 h2 {
  font-size: 20px;
  text-align: center;
  border: 5px solid black;
  background-color: black;
  padding: 25px 50px;
  color: white;
}

.text-box1 {
  font-size: 20px;
  text-align: center;
  border: 5px solid black;
  background-color: white;
  padding: 25px 50px;
}

/*textbox 2  "Home page"*/
.text-box2 h2 {
  font-size: 20px;
  text-align: center;
  border: 5px solid black;
  background-color: black;
  padding: 25px 50px;
  color: white;
}

.text-box2 p {
  text-align: center;
  border: 5px solid black;
  background-color: white;
  padding: 25px 50px;
}

/*textbox 3  "Home page"*/
.text-box3 h2 {
  font-size: 20px;
  text-align: center;
  border: 5px solid black;
  background-color: black;
  padding: 25px 50px;
  color: white;
}

.text-box3 p {
  text-align: center;
  border: 5px solid black;
  background-color: white;
  padding: 25px 50px;
}

/*textbox 4  "Home page"*/
.text-box4 h2 {
  font-size: 20px;
  text-align: center;
  border: 5px solid black;
  background-color: black;
  padding: 25px 50px;
  color: white;
}

.text-box4 p {
  text-align: center;
  background-color: white;
  padding: 25px 50px;
}

.footer h1 {
  font-size: 20px;
}

.footer {
  text-align: center;
  background-color: white;
  font-style: normal;
}

/* THIRD page "profile"*/
.images2 {
  width: 600px;
  height: 600px;
  padding: 25px 25px;
}
/* with this you can cover your image full stretch */

.main h2 h3 {
  font-size: 20px;
  text-align: center;
}

.main p {
  font-size: 15px;
  text-align: center;
}
