/*CSS reset*/
* {
  margin: 0;
  padding: 0;
  /*under words*/
  text-decoration: none;
  /*dots by listing*/
  list-style: none;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
  scroll-behavior: smooth;
}

body {
  height: 60vh;
  background-color: white;
}

.logo {
  color: whitesmoke;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
  font-size: 25px;
  width: 135px;
  height: auto;
  flex-direction: left;
  text-transform: uppercase;
}

/* NAVIGATIE bar*/
nav {
  background: transparent;
  height: 70px;
  width: 100%;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 70px;
  margin: 0 60px;
}

nav ul li a {
  color: black;
  font-size: 17px;
}

nav ul li a:hover {
  color: white;
  transition: all 0.4s;
  background-color: purple;
  padding: 10px 20px;
  border-radius: 0.5rem;
}

img {
  width: 100%;
  height: 400px;
  /* with this you can cover your image full stretch */
  object-fit: cover;
  opacity: 0.8;
}

/* words frontpage*/
.section1 h2 {
  position: absolute;
  top: 35%;
  left: 85%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 40px;
}

/* button*/
.btn {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 0.5rem;
  font-size: 17px;
  font-weight: 500;
  transition: al 0.4s ease;
  background: purple;
}

.btn1 {
  padding: 10px 20px;
  border-radius: 0.5rem;
  font-size: 17px;
  color: purple;
}

.section1 h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 50px;
}

.footer {
  text-align: center;
  background-color: white;
  font-style: normal;
}

/* THIRD page "profile"*/
.images2 {
  width: 600px;
  height: 600px;
  padding: 25px 25px;
}
/* with this you can cover your image full stretch */

.main h2 h3 {
  font-size: 20px;
  text-align: center;
}

.main p {
  font-size: 15px;
  text-align: center;
}

/*introduction*/

/*onzichtbare box*/
.box1onzichtbaar {
  padding: 40px;
  margin: 5px;
  /* scale the pic smaller when going down*/
  width: 100%;
  background-color: pink;
}

/*foto*/
.boximage1 {
  width: 500px;
  height: 300px;
  padding: 0;
  float: right;
  margin: 30px;
}

/*titel*/
.box2title {
  padding: 30px;
  margin: 0;
  /* scale the pic smaller when going down*/
  width: 60%;
  text-align: center;
  font-style: bold;
  font-size: 20px;
}

/*content*/
.box2content {
  padding: 40px;
  margin: 0;
  /* scale the pic smaller when going down*/
  width: 60%;
  font-size: 18px;
}

.box2content a {
  margin: 20px;
}

.boximage2 {
  width: 500px;
  height: 300px;
  padding: 0;
  float: left;
  margin: 30px;
  box-sizing: border-box;
}
